@import 'tailwindcss';

@theme {
  --color-background: #121214;
  --color-box: #202020;
}

:root {
  --radius: 0.625rem;
  --background: var(--color-background);
  --box: var(--color-box);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #fff;
    font-family: var(--font-itim);
  }
}
